<div class="container animated fadeIn">
  <div class="col-md-12">
    <h3 class="title">Welcome</h3>
    <p class="parraf">
      WE DELIVER A FULL SPECTRUM OF BESPOKE SOFTWARE DEVELOPMENT AND SOFTWARE CONSULTING SERVICES
    </p>
    <div class="desktop">
      <div class="row">
        <div class="col-md-4">
          <p>Search products</p>
        </div>
        <div class="col-md-6">
          <input class="form-control mr-sm-2" type="search" placeholder="">
        </div>

        <div class="col-md-2">
          <button class="btn btn-outline-success" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>

      </div>
    </div>
  </div>


</div>