<div class="footer">
  <!-- Desktop -->
  <div class="row">

    <div class="col-md-2 text-center">
      <img class="img-fluid imgFooter" src="/assets/DominionSoftwareSmall.png">
    </div>

    <div class="col-md-10 text-center">
      <div class="desktop footerDesktop">
        <div class="row">
          <div class="col-md-3">
            <h3>Home</h3>
            <a class="itemFooter" href="#">Menu Item </a>
            <a class="itemFooter" href="#">Menu Item </a>
            <a class="itemFooter" href="#">Menu Item </a>
          </div>
          <div class="col-md-2">
            <h3>Products</h3>
            <a class="itemFooter" href="#">Menu Item </a>
            <a class="itemFooter" href="#">Menu Item </a>
            <a class="itemFooter" href="#">Menu Item </a>
          </div>
          <div class="col-md-2">
            <h3>Service</h3>
            <a class="itemFooter" href="#">Menu Item </a>
            <a class="itemFooter" href="#">Menu Item </a>
            <a class="itemFooter" href="#">Menu Item </a>
          </div>
          <div class="col-md-3">
            <h3>Help</h3>
            <a class="itemFooter" href="#">Menu Item </a>
            <a class="itemFooter" href="#">Menu Item </a>
            <a class="itemFooter" href="#">Menu Item </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile -->

  <div class="panel-group mobile mobileFooter">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title itemFooter">
          <a data-toggle="collapse" href="#collapse1">Home</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <a class="itemFooter" href="#">Menu Item </a>
        <a class="itemFooter" href="#">Menu Item </a>
        <a class="itemFooter" href="#">Menu Item </a>
      </div>
    </div>
    <hr class="footerLine">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">Products</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <a class="itemFooter" href="#">Menu Item </a>
        <a class="itemFooter" href="#">Menu Item </a>
        <a class="itemFooter" href="#">Menu Item </a>
      </div>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3">Service</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <a class="itemFooter" href="#">Menu Item </a>
        <a class="itemFooter" href="#">Menu Item </a>
        <a class="itemFooter" href="#">Menu Item </a>
      </div>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse4">Help</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <a class="itemFooter" href="#">Menu Item </a>
        <a class="itemFooter" href="#">Menu Item </a>
        <a class="itemFooter" href="#">Menu Item </a>
      </div>
    </div>

  </div>
</div>