h3{
  color:#007bff;
}

h4{

}

a {
  font-size: 16px;
}

a:link {
  color:#007bff;
  text-decoration: none;
}

a:hover{
  color: blue;
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.mobileFooter{
  text-align: left;
   margin-left: 20px;
}

.footer{
  background-color:  #184854;
}

.itemFooter{
  display: block;
  color:#f0f0f0;
}

.footerLine{
  border-top: 3px solid rgba(0,0,0,.1)
}

.imgFooter{
  margin: 20%;
}

@media only screen and (min-width:769px){
  
  a {
    font-size: 1em;
    color: #f0f0f0;
  }

  h3{
    color:black;
    font-size: 20px;
  }

}